<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en"> 
  <head>
    <title>Favorite Locations</title>
    <div th:replace="bootstrap/bootstrap_head.html"></div>
  </head>
  <body>
    <div class="container">
      <div th:replace="bootstrap/bootstrap_nav_header.html"></div>

      <h1>Favorite Locations</h1>
      <table class="table">
          <thead>
              <tr>
                  <th>id</th>
                  <th>placeId</th>
                  <th>name</th>
                  <th>latitude</th>
                  <th>longitude</th>
              </tr>
          </thead>
          <tbody>
              <tr th:each="l: ${locations}">
                <td th:text="${l.id}"></td>
                <td th:text="${l.placeId}"></td>
                <td th:text="${l.name}"></td>
                <td th:text="${l.latitude}"></td>
                <td th:text="${l.longitude}"></td>
              </tr>
          </tbody>
      </table>


      <div th:replace="bootstrap/bootstrap_footer.html"></div>
    </div>
    <div th:replace="bootstrap/bootstrap_scripts.html"></div>
  </body>
</html>